@import "./reset.css";

/* TODO */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* 
  --3xs: 1px;
  --2xs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 12px;
  */

  --l: 16px;
  --xl: 20px;
  --2xl: 24px;
  --3xl: 28px;

  --color-text: hsl(222deg 22% 5%);
  --color-bg: hsl(0deg 0% 100%);
  --color-bg-darker: hsl(103deg 25% 96%);
  --color-primary: hsl(103deg 87% 28%);

  --font-weight-bold: 600;

  --content-width: 780px;
  --header-height: 75px;
  --footer-height: 50px;
}

html,
body {
  min-height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  overflow-x: clip;
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  gap: var(--3xl);
  padding-inline: var(--3xl);
  align-items: center;
  background-color: hsl(0deg, 0%, 100%, 0.65);
  backdrop-filter: blur(18px);
  justify-content: space-between;
  /* add glass effect: https://www.joshwcomeau.com/css/backdrop-filter/ */
}

header h1 {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.25;
  margin: 0;
}

a,
.primary {
  color: var(--color-primary);
}

header ul {
  display: flex;
  flex-direction: row;
  gap: var(--3xl);
  padding: 0;
}

header li {
  list-style-type: none;
}

header a {
  display: block;
  color: var(--color-text);
}

header a:not(:hover) {
  text-decoration: none;
}

.masthead {
  background-image: url(assets/header.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 128px;
}

.masthead-gradient {
  background: linear-gradient(180deg, #0000 0%, #0006 30%);
}

.masthead-title {
  font-size: calc(32 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
}

.masthead-content {
}

.no-wrap {
  white-space: nowrap;
}

.center {
  margin: 0 auto;
  max-width: var(--content-width);
}

.padded {
  padding: var(--3xl);
}

.banner {
  --border-width: 3px;
  background: var(--color-bg-darker);
  border-left: var(--border-width) solid var(--color-primary);
  padding: var(--l);
  padding-left: calc(var(--3xl) - var(--border-width));
  padding-bottom: var(--2xl);
  margin-top: 32px;
  margin-bottom: 64px;
  margin-inline: calc(var(--3xl) * -1);
}

.banner-title {
  font-size: calc(18 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--3xl);
  padding-top: 32px;
  padding-bottom: 64px;
  padding-inline: var(--3xl);
  margin-top: 32px;
  margin-bottom: 64px;
  margin-inline: calc(var(--3xl) * -1);
  position: relative;
}

.cards::before {
  content: "";
  background: var(--color-bg-darker);
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: 0;
  bottom: 0;
}

@media (max-width: 48rem) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--l);
  border-radius: 4px;
  --color-shadow: 204deg 19% 67%;
  padding: var(--3xl);
  background-color: var(--color-bg);
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--color-shadow) / 0.28), 0.8px 1.6px 2px -0.8px hsl(var(--color-shadow) / 0.28),
    1.9px 3.8px 4.8px -1.6px hsl(var(--color-shadow) / 0.29), 4.5px 9.1px 11.6px -2.4px hsl(var(--color-shadow) / 0.3);
}

.card > :last-child {
  margin-top: auto;
}

.card-title {
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--font-weight-bold);
}

.card-description {
  text-wrap: pretty;
}

.card-cta {
  display: block;
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
  font-size: calc(15 / 16 * 1rem);
}

.card-cta:not(:hover) {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  background: var(--color-bg-darker);
  font-size: 0.75rem;
  padding: var(--3xl);
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: var(--3xl);
  padding: 0;
}

footer li {
  list-style-type: none;
}

footer a {
  color: var(--color-text);
}

footer a:not(:hover) {
  text-decoration: none;
}

.events li {
  list-style-type: disc;
}

section {
  position: relative;
  margin-block: 64px;
}

section:first-of-type {
  margin-top: 0;
}

section:last-of-type {
  margin-bottom: 0;
}

.table-wrapper {
  width: calc(2 * var(--3xl) + 100%);
  margin-inline: calc(-1 * var(--3xl));
  padding-inline: var(--3xl);
  overflow-x: auto;
}

table {
  font-size: calc(14 / 16 * 1rem);
  margin-block: 32px;
  min-width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  white-space: nowrap;
}

table th {
  text-align: left;
  border-bottom: 1px solid var(--color-text);
}

table td,
table th {
  padding: 2px 20px;
}

article {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

article h1 {
  font-size: calc(24 / 16 * 1rem);
}

article h2 {
  font-size: calc(22 / 16 * 1rem);
}

article h3 {
  font-size: calc(20 / 16 * 1rem);
}

article h4 {
  font-size: calc(18 / 16 * 1rem);
}

.scroll-to-target {
  position: absolute;
  top: -100px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--3xl);
  margin-top: 32px;
  margin-bottom: 64px;
}

@media (max-width: 48rem) {
  .images {
    grid-template-columns: 1fr;
  }
}

.image {
  background: var(--color-bg);
  border-radius: 4px;
  overflow: hidden;
  --color-shadow: 204deg 19% 67%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--color-shadow) / 0.28), 0.8px 1.6px 2px -0.8px hsl(var(--color-shadow) / 0.28),
    1.9px 3.8px 4.8px -1.6px hsl(var(--color-shadow) / 0.29), 4.5px 9.1px 11.6px -2.4px hsl(var(--color-shadow) / 0.3);
}

.image img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.image p {
  padding: var(--3xl);
  margin: 0 !important;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0.85rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
